<header>
  <h1>项目配置</h1>
  <a href="/workplace" target="_self">返回项目配置</a>
</header>

<main>
  <section>
    <h3>项目名称:</h3>
    <div>
      <span>{{projectName}}</span>
      <a href="javascript: void 0">修改</a>
    </div>
  </section>

  <section>
    <h3>项目目录：</h3>
    <div>
      <span>{{projectDir}}</span>
      <a href="javascript: void 0">修改</a>
    </div>
  </section>

  <section>
    <h3>页面模板目录：</h3>
    <div>
      <span>{{pageTempDir}}</span>
      <a href="javascript: void 0">修改</a>
    </div>
  </section>

  <section>
    <h3>页面装饰模板目录：</h3>
    <div>
      <span>{{decoratersDir}}</span>
      <a href="javascript: void 0">修改</a>
    </div>
  </section>

  <section>
    <h3>打包发布时的页面类型：</h3>
    <div>
      <span>{{targetType}}</span>
      <a href="javascript: void 0">修改</a>
    </div>
  </section>
</main>

<footer></footer>
