<header>
  <h1>欢迎使用{{title}} mock构建工具</h1>
</header>
<main>
  <section>
    <h3>检测到您还没有社里工作区，您可以先创建一个工作区</h3>
    <div>
      <a id="createWpBtn" href="/create/workplace" target="_self" >创建工作区</a>
    </div>
  </section>
  {{!-- <section>
    <h3>如果您需要在工作区中创建新的项目，可以：</h3>
    <div>
      <button id="createNewProjectBtn">创建新项目</button>
    </div>
  </section> --}}
  <section>
    <h3>检测到工作区中有以下项目，您可以选择一个启动mock服务器：</h3>
    <ul id="workplaces" >
      {{#each wpList}}
        <li>
          <span>{{name}}</span>
          <div>
            <a data-wp-id="{{id}}" data-type="setDefaultWp" href="javascript: void 0">设为默认工作区</a>
            <a data-wp-id="{{id}}" data-type="cancelDefault" href="javascript: void 0">取消默认</a>
            <a data-wp-id="{{id}}" data-type="changeWpConfig" href="javascript: void 0">修改工作区配置</a>
            <a data-wp-id="{{id}}" data-type="deleteWp" href="javascript: void 0">删除工作区</a>
          </div>
        </li>
      {{/each}}

    </ul>
  </section>
  <section id="msgBox" ></section>
</main>
<footer></footer>
<script type="module" src="/static/mockManage/pages/home/main.js"></script>
